<header class="main-header" role="banner">
        <div class="container nav-container">
            <a routerLink="/dashboard" ><div class="logo" tabindex="0" aria-label="ATLAS - Inicio">ATLAS</div></a>
            <nav aria-label="Menú principal">
                <ul class="nav-links">
                    <li><a routerLink="/lodgings" routerLinkActive="active">Hospedaje</a></li>
                    <li><a routerLink="/destinations" routerLinkActive="active">Destinos</a></li>
                    <li><a routerLink="/books" routerLinkActive="active">Reservas</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                @if(token){
                    <a routerLink="/account" class="user-avatar round-link">
                        {{getUserInitial()}}
                    </a>    
                }@else {
                    <a routerLink="/auth/login" class="btn-auth btn-login" aria-label="Log in - Iniciar sesión">LOG IN</a>
                    <a routerLink="/auth/register" class="btn-auth btn-register" aria-label="Register - Registrarse">REGISTER</a>
                }   
            </div>
        </div>
    </header>