/* ============================= */
/*            HEADER             */
/* ============================= */
.main-header {
  background: var(--header-footer);
  padding: 1.2rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--text-on-dark);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: var(--transition);
}
a{
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
  color: rgb(146, 146, 248);
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn-auth {
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  transition: var(--transition);
}

.btn-login {
  border: 2px solid var(--btn-primary);
  color: var(--text-on-dark);
}

.btn-login:hover {
  background: var(--btn-primary);
}

.btn-register {
  background: var(--btn-primary);
  color: var(--text-on-dark);
  border: 2px solid var(--btn-primary);
}

.round-link {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s ease;
}

.round-link i {
    font-size: 2rem;
    color: #1d2f49;
}
/* Mostrar tooltip al hacer hover */
.round-link:hover .tooltip {
    bottom: -45px;
    opacity: 1;
}

/* Efecto hover del círculo */
.round-link:hover {
    transform: scale(1.05);
    background: #adc2dd;
}

