/* ============================= */
/*        HERO + BUSCADOR        */
/* ============================= */
.hero-search {
  position: relative;
  padding: 140px 0;
  background: var(--header-footer);
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}

/* Fondo */
.search-bg-image {
  position: absolute;
  inset: 0;
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&auto=format&fit=crop&w=1500&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  z-index: -1;
}

/* Contenedor del buscador */
.search-bar-premium {
  position: relative;
  z-index: 5;
  background: var(--text-on-dark);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column; /* fuerza dos filas */
  gap: 20px;
  box-shadow: 0 15px 30px rgba(29, 39, 49, 0.25);
}

/* Filas */
.search-top-row,
.search-bottom-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
}

/* Selects y fechas */
.category-select-wrapper {
  display: flex;
  align-items: center;
  background: #F1F3F5;
  padding: 12px 20px;
  border-radius: 50px;
  gap: 12px;
  transition: var(--transition);
  border: 2px solid transparent;
  flex: 1;
  min-width: 200px;
}

.category-select-wrapper:focus-within {
  border-color: var(--btn-primary);
  background: var(--text-on-dark);
}

.select-icon {
  color: var(--btn-primary);
  font-size: 1.2rem;
}

.select-category-premium,
.category-select-wrapper input[type="date"] {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--btn-primary);
  cursor: pointer;
}

/* Input principal */
.search-input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  background: #F1F3F5;
  padding: 12px 20px;
  border-radius: 50px;
}

.search-input-wrapper input {
  background: #F1F3F5;
}


.search-icon-inner {
  color: var(--icon-dark);
  font-size: 1.4rem;
}

.search-input-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--icon-dark);
}

/* Botón */
.btn-execute-search {
  background: var(--btn-primary);
  color: var(--text-on-dark);
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.btn-execute-search:hover {
  transform: scale(1.05);
  background: #23426E;
}
