@if (allAlojamiento()) {
  <div class="account-settings">
    <div class="cards-grid">
      @for (item of allAlojamiento(); track item.id) {
        <div class="card">
          <button class="btn-heart" 
            [class.is-favourite]="findByFavorite(item.id)"
            (click)="togle(item)">
            <i class="bi" [class]="findByFavorite(item.id) ? 'bi-heart-fill' : 'bi-heart'"></i>
          </button>

          <div class="card-image">
            <img
              [src]="'https://picsum.photos/seed/' + item.id + '/400/500'"
              [alt]="'Imagen de ' + item.tipo"
              loading="lazy"
            />
          </div>

          <div class="card-content">
            <div class="card-body-top">
              <h1 class="card-title"> {{item.tipo}}, {{ item.direccion }}</h1>

              <p class="card-info">
                <i class="bi bi-people"></i>
                <span class="card-label">CAPACIDAD:</span> {{ findById(item.id)?.capacidad }} personas
              </p>

              <p class="card-info">
                <i class="bi bi-tag"></i>
                <span class="card-label">PRECIO:</span> 
                <span class="price-value">{{ findById(item.id)?.precio_noche }} €</span>
              </p>

              <p class="card-info id-badge">
                <span class="card-label">DESTINO:</span> #{{ item.nombre }}
              </p>
              <p class="card-info id-badge">{{item.direccion}}</p>
              <p class="card-info id-badge">{{item.descripcion}}</p>
            </div>

            <div class="card-footer-ui">
              <div class="card-rating">
                <div class="rating-box">
                  <i class="bi bi-star-fill"></i> 9.2
                </div>
                <span class="rating-text">Fantástico</span>
              </div>

              <div class="card-actions">
                <a class="btn-primary" [routerLink]="['/details', item.id]">VER DETALLES</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}@else {
  <div>
    <h1>Ahora mismo no puede ver los hospedajes que tenemos, vuelve en unos minutos...</h1>
  </div>
}