@if (allBooks()) {
  <h1 class="title">¡Hay {{allBooks().length}} reservas!</h1>
  
  <div class="account-settings">
    <div class="cards-grid">
      @for (item of allBooks(); track item.id) {
        <div class="card">

          <div class="card-image">
            <img
              [src]="'https://picsum.photos/seed/' + item.id + '/400/500'"
              [alt]="'Imagen de reserva ' + item.id"
              loading="lazy"
            />
          </div>

          <div class="card-content">
            <div class="card-body-top">

              <h1 class="card-title">Reserva #{{ item.id }}</h1>

              <p class="card-info">
                <i class="bi bi-cash"></i>
                <span class="card-label">PRECIO TOTAL:</span>
                {{ item.precio_total }} €
              </p>

              <p class="card-info">
                <i class="bi bi-flag"></i>
                <span class="card-label">ESTADO:</span>
                {{ item.estado }}
              </p>

              <p class="card-info">
                <i class="bi bi-calendar-event"></i>
                <span class="card-label">FECHA RESERVA:</span>
                {{ item.fecha_reserva }}
              </p>

              <p class="card-info">
                <i class="bi bi-door-open"></i>
                <span class="card-label">CHECK-IN:</span>
                {{ item.fecha_checkin }}
              </p>

              <p class="card-info">
                <i class="bi bi-door-closed"></i>
                <span class="card-label">CHECK-OUT:</span>
                {{ item.fecha_checkout }}
              </p>

              <p class="card-info">
                <i class="bi bi-person"></i>
                <span class="card-label">USUARIO:</span>
                {{ userService.getUserIdNombre(item.id) }}
              </p>

              <p class="card-info">
                <i class="bi bi-house"></i>
                <span class="card-label">HABITACIÓN:</span>
                {{alojamientoService.findById(item.id_habitacion)?.direccion}}
              </p>

            </div>

            <div class="card-footer-ui">
              <div class="card-actions">
                <a class="btn-primary" [routerLink]="['/details', item.id_habitacion]">VER DETALLES</a>
              </div>
            </div>
          </div>

        </div>
      }
    </div>
  </div>
} @else {
  <div>
    <h1>No hay reservas disponibles ahora mismo, vuelve en unos minutos…</h1>
  </div>
}
