<section class="container content-spacing">
  <div class="section-header">
    <h2 class="section-title">Alojamientos Recomendados</h2>
    <p class="section-subtitle">Seleccionados por su calidad y ubicación estratégica</p>
  </div>

  @if (allAlojamientos()) {
    <div class="grid-section">
      @for (alojamiento of allAlojamientos(); track alojamiento.id) {
        <article class="card-premium" tabindex="0">
          <div class="card-image-wrapper">
            <div class="card-img">
              <img
                [src]="'https://picsum.photos/seed/' + alojamiento.id + '/800/600'"
                [alt]="'Imagen de ' + alojamiento.nombre"
              />
            </div>

            <div class="card-badge">{{ alojamiento.tipo }}</div>
          </div>

          <div class="card-body">
            <h3>{{ alojamiento.nombre }}</h3>

            <div class="rating-box">
                @for (star of [1, 2, 3, 4, 5]; track star) {
                    <i class="bi" 
                    [class.bi-star-fill]="star <= alojamiento.calificacion" 
                    [class.bi-star]="star > alojamiento.calificacion">
                    </i>
                }
            </div>
            <p class="card-location"><i class="bi bi-geo-alt"></i> {{ alojamiento.direccion }}</p>

            <p class="card-description">{{ alojamiento.descripcion }}</p>

            <div class="card-footer-info">
              <a [routerLink]="['/details', alojamiento.id]" class="btn-view-trip">
                Ver Detalles
              </a>
              <button (click)="togle(alojamiento)">
                <i class="bi" [class]="alojamiento.favourites ? 'bi-heart-fill' : 'bi-heart'"></i>
              </button>
            </div>
          </div>
        </article>
      }
    </div>
  } @else {
    <div class="loading-container">
      <app-loading></app-loading>
      <p>Buscando las mejores opciones para ti...</p>
    </div>
  }
</section>
