@if(visible()){

    <div id="loader" role="status" aria-live="polite" aria-label="Cargando ATLAS Around the World">
        <div class="loader-content">
        <div class="logo-wrapper">
            <svg class="circular-text" viewBox="0 0 100 100" aria-hidden="true">
                <path id="circlePath" d="M 50, 50 m -40, 0 a 40,40 0 1,1 80,0 a 40,40 0 1,1 -80,0" fill="transparent" />
                <text>
                    <textPath xlink:href="#circlePath" startOffset="0%">
                        ATLAS AROUND THE WORLD ✈ ATLAS AROUND THE WORLD✈
                    </textPath>
                </text>
            </svg>
            <div class="est-text">EST 2025</div>
        </div>
    </div>
</div>

}