<footer class="footer-premium">
  <div class="footer-container">
    <!-- BRAND -->
    <div class="footer-col">
      <h2 class="footer-logo">ATLAS AROUND THE WORLD</h2>
      <p class="footer-desc">
        Tu guía moderna para descubrir Andalucía con estilo, diseño y accesibilidad total.
      </p>
    </div>

    <!-- LINKS -->
    <div class="footer-col">
      <h3 class="footer-title">Explorar</h3>
      <ul>
        <li><a routerLink="/dashboard">Inicio</a></li>
        <li><a routerLink="/lodgings">Alojamientos</a></li>
        <li><a routerLink="/aboutUs">Sobre Nosotros</a></li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div class="footer-col">
      <h3 class="footer-title">Contacto</h3>
      <ul>
        <li>
          <i class="bi bi-envelope"></i
          ><a
  href="https://mail.google.com/mail/?view=cm&fs=1&to=soporte@atlas.com&su=Consulta%20desde%20ATLAS&body=Hola%20equipo%20ATLAS,%0A%0AQuisiera%20hacer%20una%20consulta%20sobre..."            target="_blank"
          >
            soporte@atlas.com
          </a>
        </li>
        <li><i class="bi bi-telephone"></i> +34 600 123 456</li>
        <li><i class="bi bi-geo-alt"></i> Andalucía, España</li>
      </ul>
    </div>

   
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 ATLAS Project — Diseñado por David Martínez Ávila.</p>
  </div>
</footer>
