<footer class="footer">
  <div class="footer-container">

    <!-- BRAND -->
    <div class="footer-brand">
      <h2 class="footer-logo">ATLAS AROUND THE WORLD</h2>
      <p class="footer-text">
        Descubre Andalucía con diseño premium, accesibilidad total y experiencias únicas.
      </p>
    </div>

    <!-- LINKS -->
    <div class="footer-links">
      <h3>Explorar</h3>
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/lodgings">Alojamientos</a></li>
        <li><a routerLink="/destinations">Destinos</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div class="footer-contact">
      <h3>Contacto</h3>
      <ul>
        <li><i class="bi bi-envelope"></i> soporte@atlas.com</li>
        <li><i class="bi bi-telephone"></i> +34 600 123 456</li>
        <li><i class="bi bi-geo-alt"></i> Andalucía, España</li>
        <li><i class="bi bi-geo-alt"></i><a routerLink="/atlas">Sobre Nosotros</a></li>
      </ul>
    </div>

    <!-- SOCIAL -->
    <div class="footer-social">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <a><i class="bi bi-instagram"></i></a>
        <a><i class="bi bi-facebook"></i></a>
        <a><i class="bi bi-twitter"></i></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 ATLAS Project — Diseñado por David Martínez Ávila.</p>
  </div>
</footer>
