/* ============================= */
/*        FOOTER PREMIUM         */
/* ============================= */

.footer-premium {
  background: var(--header-footer);
  color: var(--text-on-dark);
  padding: 3.5rem 0 2rem;
  margin-top: 4rem;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.15);
  text-align: left; /* Para centrar el H2 */
  justify-content: center;
}

/* H2 ARRIBA */
.footer-premium .main-title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
  padding-left: 20px;
}

/* GRID */
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2.5rem;
  text-align: left; /* Para que las columnas no queden centradas */
}

/* TITLES */
.footer-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-on-dark);
}

/* LINKS */
.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col li {
  margin-bottom: 0.7rem;
  color: var(--text-secondary);
  font-size: 0.95rem;
}

.footer-col a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: 0.25s;
}

.footer-col a:hover {
  color: rgb(146, 146, 248);
}

/* SOCIAL */
.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-social a {
  color: var(--text-secondary);
  font-size: 1.4rem;
  transition: 0.25s;
}

.footer-social a:hover {
  color: rgb(146, 146, 248);
  transform: translateY(-2px);
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255,255,255,0.15);
  color: var(--text-secondary);
  font-size: 0.85rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
}
