<div class="container">
  <h2>Destinos de moda</h2>

  <div class="grid-layout">
    @if (seeDestination) {
      @for (item of seeDestination; track item.id; let i = $index) {
        <div class="card" 
             [style.backgroundImage]="'url(https://picsum.photos/seed/' + item.id + '/400/500)'"
             [class.large-card]="i < 2"
             [class.small-card]="i >= 2">
          
          <div class="card-content">
            <h3>{{ item.nombre_pais }}</h3>
          </div>
        </div>
      }
    } @else {
      <p>Cargando destinos...</p>
    }
  </div>
</div>
